/* You can add global styles to this file, and also import other style files */
:root {
  // Colores principales
    --primary-color: #6A0DAD;
    --secondary-color: #9B59B6;
    --accent-color: #E91E63;
    
    // Colores de fondo
    --dark-bg: #2D0A50;
    --light-bg: #F8F0FF;
    
    // Colores de texto
    --text-dark: #2C3E50;
    --text-light: #FFFFFF;
    
    // Sombras
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }