header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
}
h1{
    color: #258ac3;
    text-shadow: 
    0px 0px 8px rgb(37, 138, 195),
    1px 1px 2px rgb(0, 0, 0, 1);
    margin: 0px ;
    padding: 0px 1rem;  
    font-size: 2rem;  
    font-weight: 800;
    text-transform: uppercase;
}

