.reloj {
  font-family: 'DS-Digital', 'Digital-7', 'Digital-7 Mono', monospace;
  color: #258ac3;
  text-shadow:     0px 0px 8px rgb(37, 138, 195),
    1px 1px 2px rgb(0, 0, 0, 1);
  background-color: #000;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  font-size: x-large;
}

hora {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.fecha {
  font-size: 1.2rem;
  opacity: 0.8;
  margin-top: 0.5rem;
}
