<div class="containerNavBar">

<div class="radio-input">
    <label class="label">
    <div class="back-side"></div>
    <input type="radio" id="value-1" name="value-radio" value="value-1" />
    <span class="text">Canciones</span>
    <span class="bottom-line"></span>
    </label>

    <label class="label">
    <div class="back-side"></div>
    <input type="radio" id="value-2" name="value-radio" value="value-2" />
    <span class="text">Albums</span>
    <span class="bottom-line"></span>
    </label>

    <label class="label">
    <div class="back-side"></div>
    <input type="radio" id="value-3" name="value-radio" value="value-3" />
    <span class="text">Artistas</span>
    <span class="bottom-line"></span>
    </label>
</div>

</div>
